@import './_steppers.scss';
@import './_responsiveInputDetails.scss';
@import './_interactible.scss';
@import './_container.scss';


html {
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  &.libre {
    font-family: 'Libre+Baskerville', serif;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
}

body, p, span, div, li, a, button, input, textarea, select, label {
    font-family: 'Montserrat', sans-serif;
}

.v-progress-linear {
  width: calc(100% - 16px);
  margin-left: 8px;
  height: 2px;
  border-radius: 2px;
}

.v-menu__content {
  z-index: 150 !important;
}

.page-title, .page-subtitle, .card-title {
  font-family: Asap, Roboto, sans-serif;
}

.page-title {
  padding-top: 1rem;
  line-height: 36px;
}

.page-subtitle {
  font-weight: 500;
  padding-bottom: 2rem;
}

.card-title {
  font-weight: 500;
  padding-bottom: 1rem;
}

.text-app-azul-escuro {
  color: #003641;
}

.text-app-turquesa {
  color: #1fa090;
}

.v-btn {
  text-transform: none !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}
